<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="file">

	<insert id="insertFile" parameterType="fileVO" useGeneratedKeys="true" keyProperty="file_id">
		INSERT INTO TBL_FILE (
			file_name, file_real_name, file_path, file_ext, file_content_type, file_size, reg_dt
		) VALUES (
			#{file_name}, #{file_real_name}, #{file_path}, #{file_ext}, #{file_content_type}, #{file_size}, now()
		)
	</insert>

	<update id="updateFile" parameterType="fileVO">
		UPDATE TBL_FILE
		SET file_name = #{file_name},
			file_real_name = #{file_real_name},
			file_path = #{file_path},
			file_ext = #{file_ext},
			file_content_type = #{file_content_type}
		WHERE file_id = #{file_id}
	</update>

	<select id="selectFile" parameterType="long" resultType="fileVO">
		SELECT
			file_id, file_name, file_real_name, file_path,
			file_ext, file_content_type, file_size, reg_dt
		FROM TBL_FILE
		WHERE file_id = #{file_id}
	</select>

	<insert id="insertProductImage" parameterType="ConsignmentVO">
-- 		insertProductImage
		INSERT INTO TBL_PRODUCT_IMAGE (
		                               file_id
		                             , product_id
		                             ) VALUES (
		                                       #{file_id}
		                                     , #{product_id}
		                                     )
	</insert>

	<insert id="insertBusinessImage" parameterType="AdminVO">
		-- 		insertBusinessImage
		insert into TBL_Business_Image (
			account_id,
			file_id
		) values (
					 HEX(AES_ENCRYPT(#{account_id}, #{aes_key})),
					 #{file_id}
				 )
	</insert>

</mapper>
