@font-face {
      font-family: 'HDharmonyL';
      font-weight: 300;
      src: url(HDharmonyL.eot);
      src: url(HDharmonyL.eot?#iefix) format('embedded-opentype'),
            url(HDharmonyL.woff) format('woff'),
            url(HDharmonyL.ttf) format('truetype');
}
@font-face {
      font-family: 'HDharmonyM';
      font-weight: 500;
      src: url(HDharmonyM.eot);
      src: url(HDharmonyM.eot?#iefix) format('embedded-opentype'),
            url(HDharmonyM.woff) format('woff'),
            url(HDharmonyM.ttf) format('truetype');
}
@font-face {
      font-family: 'HDharmonyB';
      font-weight: 700;
      src: url(HDharmonyB.eot);
      src: url(HDharmonyB.eot?#iefix) format('embedded-opentype'),
            url(HDharmonyB.woff) format('woff'),
            url(HDharmonyB.ttf) format('truetype');
}
